body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    top: 0px;

}
.a1{
  
    background: url(photo/001.jpg) no-repeat center center ;
    width: 100%;
	background-size: cover;
    min-height: 10vh;
   

}
.a2{
    text-shadow: 2px 2px 1px red;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    position: relative;
}
 ul li{
    display: inline-block;
    margin-left: 10px;
    color: white;
transition: all 0.5s linear;
padding: 10px;
border-radius: 10px;
cursor: pointer;
}
ul li:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
ul li a{
    text-decoration: none;
    color: white;
}
.a4{
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    display: flex;
}
.a4 .logo{
width: 30%;
}
.a4 .side{
    width: 70%;
}
footer{
    border-bottom: 2px solid red;
    box-shadow: 2px 2px 2px 2px silver;
}